.container {
  justify-content: space-between;
  background-color: #f8f8f8;
  border: 1px solid #003e5b;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 60%;
  max-width: 800px;
  border-radius: 10px;
  color: #003e5b;
  background-image: url("/static/images/shelf.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px);
}

.details-title {
  text-align: center;
}

.details-p {
  font-size: 1.2rem;
  margin: 10px 0;
  max-height: 6em;
  overflow-y: auto;
  word-wrap: break-word;
}
