.title {
  color: #003e5b;
  background-color: #fbf8f0;
}

.homeP {
  color: #8987d0;
  font-size: 1.2rem;
  margin: 3px;
  background-color: #fbf8f0;
}

.homeImg {
  width: 16%;
  margin-top: auto;
}
