<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/bookDetails.css" />
  </head>
  <body class="details-body">
    <div class="container">
      <h1 class="details-title">{{title}}</h1>
      <p class="details-p"><strong>Author:</strong> {{author}}</p>
      <p class="details-p"><strong>Year:</strong> {{year}}</p>
      <p class="details-p"><strong>Review:</strong> {{review}}</p>

      {{description}} {{percentage}}

      <!-- <a href="/home">Back to Home</a> -->
    </div>
  </body>
</html>
