<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/homeBooks.css" />

    <title>Your Library</title>
  </head>
  <body>
    <div class="content">
      <nav class="navbar navLinks">
        <a href="/">
          <h3 class="logo">SmartShelf</h3>
        </a>
        <ul class="navUl">
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/addForm">Add A Book</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/contact">Feedback</a>
          </li>
        </ul>
        <div>{{auth_buttons}}</div>
      </nav>

      <h1 class="homeTitle">Welcome to the Library</h1>
      <div id="bookList" class="bookGrid">{{books}}</div>
    </div>

    <script src="/static/js/formValidation.js"></script>
    <script src="/static/js/alert.js"></script>
  </body>
</html>
