<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>Your Library</title>
  </head>
  <body>
    <div class="content">
      <nav class="navbar navLinks">
        <h3 class="logo">SmartShelf</h3>
        <ul class="navUl">
          <li>
            <a href="/"> Home </a>
          </li>
          <li>
            <a href="/addForm">Add A book</a>
          </li>
          <li>
            <a>Search</a>
          </li>
        </ul>
        <div class="logButtons">
          <a href="/login" class="navLinks">Login</a>
          <a href="/register" class="navLinks">Register</a>
        </div>
      </nav>
      <div class="home">
        <h1 class="title">Welcome to Your Digital Library!</h1>
        <p class="homeP">
          Your personalized space to explore, organize, and enjoy your digital
          content.
        </p>
        <p class="homeP">
          Whether it's books, podcasts, or articles everything you love is just
          a click away.
        </p>
        <img src="static/images/background.png" alt="Library" class="homeImg" />
      </div>
    </div>
  </body>
</html>
