<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/register.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Your Library</title>
  </head>
  <body class="content">
    <div class="form-content">
      <h1 class="register-title">Log-in</h1>
      <div id="error">
        <p></p>
      </div>
      <form
        action="/login"
        method="POST"
        class="form"
        onsubmit="return validateLogin()"
      >
        <input
          id="loginEmail"
          name="loginEmail"
          type="email"
          placeholder="Email"
          class="input"
          required
        />
        <div class="password-wrapper">
          <input
            id="loginPassword"
            name="loginPassword"
            type="password"
            placeholder="Password"
            class="input"
            required
          />
          <span id="togglePassword">🔒</span>
        </div>

        <button type="submit" class="button">Login</button>
      </form>
      <p class="check-account">
        Don't have an account? <a href="/register">Sign Up</a>
      </p>
    </div>

    <script src="/static/js/formValidation.js"></script>
    <script src="/static/js/alert.js"></script>
  </body>
</html>
