<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/profile.css" />

    <title>Your Library</title>
  </head>
  <body>
    <div class="content">
      <nav class="navbar navLinks">
        <a href="/">
          <h3 class="logo">SmartShelf</h3>
        </a>
        <ul class="navUl">
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/addForm">Add A book</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
        </ul>
        <div class="logButtons">
          <!-- <span id="usernameDisplay"></span> -->

          {{auth_buttons}}
        </div>
      </nav>
      <h1 class="profile-title">Hello!</h1>
      
      <!-- <span id="usernameDisplay"></span> -->
    </div>

    <script src="/static/js/formValidation.js"></script>
  </body>
</html>
