<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/static/css/style.css" /> -->
    <link rel="stylesheet" href="/static/css/register.css" />
    <title>Your Library</title>
  </head>
  <body>
    <h1>Register</h1>
    <div>
      <form action="/register" method="POST" class="form">
        <input id="userName" placeholder="User Name" class="input" />
        <input id="email" placeholder="Email" class="input" />
        <input id="password" placeholder="Password" class="input" />
        <button type="submit" class="button">Register</button>
      </form>
    </div>
  </body>
</html>
